<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="mondialrelay.prices" class="MondialRelay\Loop\Prices" />
        <loop name="mondialrelay.area-attributes" class="MondialRelay\Loop\AreaAttributes" />
        <loop name="mondialrelay.insurances" class="MondialRelay\Loop\Insurances" />

        <loop name="mondialrelay.delivery-price" class="MondialRelay\Loop\DeliveryPrice" />
        <loop name="mondialrelay.pickup-points" class="MondialRelay\Loop\PickupPoints" />
        <loop name="mondialrelay.selected-pickup-point" class="MondialRelay\Loop\SelectedPickupPoint" />
    </loops>

    <!-- Forms, event subscribers and hooks are auto-discovered in Thelia 3 via MondialRelay::configureServices. -->
    <!-- AdminHookManager / FrontHookManager / EmailHookManager / PdfHookManager declare getSubscribedHooks(). -->
</config>
